body {
  margin: 0;
}

div#memory_board > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(tile_bg.jpg) no-repeat;
  border: #000 1px solid;
  width: calc(100vw / 4 - 2px);
  height: calc(100vw / 4 - 2px);
  float: left;
  font-family: wingdings;
  font-size: 12vw;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 426px) {
  div#memory_board > div {
    width: calc(100vw / 6 - 2px);
    height: calc(100vw / 6 - 2px);
  }
}
